.line {
    justify-content: flex-end;
   width: 20px;
   height: 20px;
}

.graph {
    width: 75%;
    padding-left: 5%;
}

.content {
    display: flex;
    margin-left: 2rem;
    padding-top: 7rem;
}
