.header__navbar {
  -moz-box-align: center;
  padding: 0px 15px;
  -moz-box-pack: justify;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 930px;
  word-spacing: 10px;
}