$blue: #00ADEE;
$white: rgb(255, 255, 255);

@mixin flexAlign() {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

#nav-container {
  width: 100%;
  background-color: $blue;

  .nav {
    @include flexAlign;
    margin: 0 auto;
    width: 60%;
    max-width: 950px;
    height: 66px;
    justify-content: space-between;
    background-color: $blue;

    &-left {
      @include flexAlign;

      &-links-container {
        @include flexAlign;
      }

      &-logo {
        padding: 16px 8px 16px 0;
      }
    }

    &-right {
      @include flexAlign;
    }

    &-link {
      margin: 0 0.1rem;
      padding: 12px 8px;
      color: $white;
      background: none;
      border: none;
      text-decoration: none;
      font-family: montserrat, sans-serif;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
  }

  .link-highlight:hover {
    border-radius: 8px;
    background-color: $white;
    border-radius: 8px;
    color: $blue;
  }

  }
}